//output:index.html,pretty:false
include carousel-mixin
mixin lipsum(amt)
 while amt>0
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  - (amt--)

doctype html
html/
head
 title Carousel and Mixin (CSS+HTML output)
 meta(name="viewport" content="width=device-width")
 link(rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" title="Normalise.css")
 //- link(rel="stylesheet" href="index.css")
 link(rel="stylesheet" href="carousel.min.css")
 base(target="_blank")
body
 - var tafttest = "https://tafttest.com/"
 - var x = "x"
 - var png = ".png"
 - var carouselcont = [tafttest+800+x+600+png, tafttest+600+x+800+png, tafttest+800+x+800+png, tafttest+600+x+600+png, tafttest+500+x+800+png, tafttest+800+x+500+png, tafttest+500+x+500+png, tafttest+300+x+800+png, tafttest+800+x+300+png, tafttest+720+x+720+png]
 h1(align="center") Carousel without JavaScript
 h3(align="center").subtitle A Jade mixin, with Stylus CSS for pre&shy;processing.
 +carousel(10, carouselcont)
 div(align="center")
  p Repo: 
   a(href="https://github.com/DizzyZane/carousel-css") github.com&shy;/&shy;DizzyZane&shy;/&shy;carousel&shy;-&shy;css
  p Images via 
   a(href="https://tafttest.com") Taft&shy;Test.com
   |, the 
   em Web Dev Placeholder Image Generator
   |.
  p Please remember to only use this in the correct points; a friendly reminder from 
   a(href="http://shouldiuseacarousel.com/") should&shy;i&shy;use&shy;a&shy;carousel&shy;.&shy;com
  +lipsum(1)
