$carouselWidth = 550px
$carouselHeight = 338px
$carouselSpinnerWidth = 50px
$carouselSpinnerFontSize = 62px
$carouselRadius = 2px
$carouselTopMargin = 56%
$carouselZIndex = 10
$carouselBackground = #000000
$carouselForeground = #ffffff
$carouselMargin = 30px;

.c-carousel

  // Carousel item list
  &__items
    height $carouselHeight
    list-style-type none
    margin $carouselMargin auto
    max-width 100%
    padding 0
    position relative
    width $carouselWidth

  // Carousel items
  &__item

    &:nth-child(1)

      .c-carousel__pagination-button
        margin-left $carouselSpinnerWidth

    &__content
      background $carouselBackground
      height 0
      list-style-type none
      overflow hidden
      padding 0
      position absolute
      top 0px

    &__image
      height 100%
      left 50%
      max-width 100%
      opacity 0
      padding 0
      position absolute
      top 0
      transform translateX(-50%)
      transition 0.2s all ease-in
      width auto

  // Back and forward arrows
  &__navigation
    background rgba($carouselBackground, 0.5)
    color rgba($carouselForeground, 0.5)
    cursor pointer
    display block
    font-size $carouselSpinnerFontSize
    position absolute
    text-align center
    top 50%
    transform translateY(-50%)
    user-select none
    width $carouselSpinnerWidth
    z-index $carouselZIndex

    &--back
      background linear-gradient(to right, rgba(0,0,0,0.5), transparent)
      left 0px

      &::before
        content "\2039"

    &--forward
      background linear-gradient(to left, rgba(0,0,0,0.5), transparent)
      right 0px

      &::before
        content "\203a"

    &:active
    &:focus
    &:hover
      color rgba($carouselForeground, 1)

  // Pagination checkboxes
  &__pagination-checkbox
    display none

    &:checked + .c-carousel__pagination-button
      background $carouselForeground

    &:checked ~ .c-carousel__item__content
      height 100%
      width 100%

      .c-carousel__item__image
        opacity 1

  // Pagination dots
  &__pagination-button
    background rgba($carouselForeground, 0.5)
    border-radius 50%
    cursor pointer
    display block
    float left
    height 12px
    margin-right 8px
    margin-top $carouselTopMargin
    opacity 1
    position relative
    width 12px
    z-index $carouselZIndex

    &:active
    &:focus
    &:hover
      background $carouselForeground

  // Fullscreen checkbox
  &__fullscreen-checkbox
    display none

    &:checked

      & ~ .c-carousel__items
        background $carouselBackground
        height 100%
        left 0
        margin 0
        position fixed
        top 0
        width 100%
        z-index $carouselZIndex + 1

        .c-carousel__pagination-button
          z-index $carouselZIndex + 3

  // Fullscreen toggle button
  &__fullscreen-toggle
    bottom 0
    color $carouselForeground
    font-size 2em
    position absolute
    right 0.25em
    z-index $carouselZIndex + 2

    &__label
      cursor pointer
      display block

    &__icon
      height 1em
      width 1em

  @media print, handheld

    &__items
      align-items flex-start
      border 2px dotted lighten($carouselBackground, 50%)
      display flex
      flex-direction row
      flex-wrap wrap
      height auto
      justify-content center
      margin $carouselMargin
      text-align center
      width calc(100% - 60px)

      &:before
        content "Image Gallery"
        font-size 2em
        margin 1em auto
        width 100%

      img
        opacity 1

    &__item
      margin 1em
      width 25%

      &__content
        background none
        height 100%
        position relative
        width 100%

      &__image
        height auto
        position relative

    &__pagination-button
    &__navigation
      display none